<%- include('header') -%>

<div class="box">
  <h2 class="box" id="list-heading">About This App</h2>
  <p>To Do List App by Sean Park using Express, Node.js and EJS</p>
</div>

<%- include('footer') -%>
